/*IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&display=swap');

/*ROOT SETTING STYLES*/
:root {
  --primary-color: #477998;
  --secondary-color:#C7E8F3;
  --tertiary-color: #141B41;
  --accent1-color: #F64740;
  --accent2-color: #A3333D;

  --heading-font: "Bebas Neue";
  --paragraph-font: Caveat, Helvetica, sans-serif;

  --base-text-color:white;
  --headline-color-on-white: #477998; 
  --headline-color-on-color: #C7E8F3; 
  --paragraph-color-on-white: #477998; 
  --paragraph-color-on-color: #C7E8F3; 
  --paragraph-background-color: #477998;
  --nav-link-color: #141B41;
  --nav-background-color: #A3333D;
  --nav-hover-link-color: #C7E8F3;
  --nav-hover-background-color: #477998;
}
/*CONTENT*/
.content{
  max-width: 1600px;
  margin: 0 auto;
}
nav a{
  text-align: center;
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding:35px;
  color: var(--base-text-color);
}
nav a:hover{
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  list-style-type: none;
  display: flex;
  
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
#hero-msg h1, #hero-msg h4{
  text-align: center;
}
.button-box{
  text-align: center;
}
main section{
  text-align: center;
}
#background{
  height: 725px;
}
body{
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  text-align: center;
  background-color: var(--base-text-color);
  border: 2px solid blue
}
h2{
  margin:0;
}
.home-title{
  color:var(--base-text-color);
  font-size: 2em;
  margin-top:10px;
}
header{
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}
h4{
  color:var(--base-text-color);
}
.book, .join{
  background-color: var(--nav-background-color);
  color:var(--base-text-color);
  text-decoration: none;
  font-size:18px;
  padding:15px 30px;
  margin-top:50px;
}
.book:hover, .join:hover{
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
#background{
  background-color: var(--paragraph-background-color);
}
.msg{
  background-color: var(--paragraph-background-color);
  font-size: .8em;
  line-height: 1.5em;
  padding:35px;
}
.msg h2{
  color:var(--base-text-color);
}
.msg p{
  color:var(--base-text-color);
  padding-bottom:15px;
}
footer{
  background-color: var(--paragraph-background-color);
  padding:25px 50px;
}
footer a{
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: var(--nav-background-color);
}
footer a:hover{
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
footer p{
  font-size: 1.2em;
  margin-top:200px;
}
footer p a:hover{
  text-decoration: underline;
}
footer .social img{
  padding-top:15px;
}
.rivers-card, .camping-card, .rapids-card{
  margin: 200px 0;
}
.icon{
  display: block;
  margin: 0 auto;
  max-width: 300px;
  width:80px;
  padding-top:10px;
}
.logo{
width:250px;
height:200px;
}
#logo_link{
  padding-top:5px;
}
#hero_img{
  width:100%;
  text-align: center;
  margin: 0 auto;
}
#hero_box{
  max-width: 1600px;
  height:500px;
  width:1000px;
}
/*
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}
p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}
.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}
p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}
.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {
  text-align: center;
}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}
.top {
  grid-area: top;
  border-left: 1px solid;
}
.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}
.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}
*/
/*
PALLETTE:
LIGHT BLUE:C7E8F3
DARK BLUE:477998
DARKEST BLUE: 141B41
LIGHT RED: F64740
DARK RED: A3333D
*/
